# .gitignore
#
# Pretty basic stuff, just blocking temporary files, binary objects, and other junk that may show up in the folder but doesn't belong in the repo.
#
# No licensing for this file, it's super basic stuff. Do with it as you will.

# Unwanted temporary files.
~$*
*.tmp

# Unfortunate artefacts that can arise from using WSL on Windows.
*:Zone.Identifier

# Binaries created by the build process, or other bits used for temporary testing.
*.exe
*.lnk
*.o
build/**
build-*/**
*-build/**
!build/.do-not-delete-me

# Visual Studio Code settings, which aren't relevant to the repo.
.vscode/**
